.inputGeneral {
  border: 1px solid #1d1d25;
  height: 40px;
  border-radius: 8px;
  background-color: #1d1d25;
  padding: 12px 16px;
  font-size: 16px;
  color: #ffffff;

  &::placeholder {
    color: #868790;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 50px #1d1d25 inset;
    -webkit-box-shadow: 0 0 0 50px #1d1d25 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #ffffff;
  }

  &:focus {
    outline: none;
    border: 1px solid #e9992a;
  }

  &:disabled {
    background-color: #3b3b4a;
    color: #868790;
    cursor: not-allowed;
  }
}
