.rcselect_has_value {
  .rc-select-selection-item {
    color: #ffffff !important;
  }
}

.rcselect {
  width: 176px !important;
  border-radius: 8px;
  border: 1px solid #868790;
  color: #868790;

  .rc-select-selector {
    cursor: pointer;
    padding: 8px 8px 8px 12px;
    height: 40px;
    border: none !important;
    padding: 0 !important;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #868790;
    outline: none !important;

    .rc-select-selection-placeholder,
    .rc-select-selection-item {
      display: flex;
      align-items: center;
      color: #868790;
      padding: 8px;
      padding-left: 12px;
      font-size: 16px;
      left: 0 !important;
      top: 0px !important;
      opacity: 1;
    }
  }
  .rc-select-arrow {
    top: 50% !important;
    right: -14px !important;
    cursor: pointer;

    transform: translate(-50%, -50%);
    img:first-child {
      margin-right: 8px;
    }
  }
}

.rcselectMenu {
  border: none !important;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: unset !important;
  width: 176px !important;
  margin-top: 8px;
  display: block;
  background: transparent !important;
  z-index: 30;

  .rc-virtual-list {
    z-index: 1051;
    top: 5px;
    border: 1px solid #868790 !important;
    border-radius: 8px;
    background: #282833 !important;
  }
  .rc-virtual-list-holder {
    border: none !important;
    max-height: 200px;
    overflow-y: hidden;
    overflow-anchor: none;
  }

  .rc-select-item-option-state {
    display: none;
  }
  .rc-select-item-option-active {
    background: transparent;
  }
  .rc-select-item {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #868790;
    padding: 8px 12px !important;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: #ffffff;
    }

    .rc-select-item-option-content {
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
