.rcModal {
  height: 90%;
  display: flex;
  align-items: center;
  .rc-dialog-content {
    background: #16151a;
    border: 1px solid #868790 !important;
    background: #282833;
    border-radius: 8px;
    width: 100%;
    .rc-dialog-close {
      opacity: 1;
      top: 16px !important;
      right: 16px !important;
      width: 32px;
      height: 32px;
    }
    .rc-dialog-body {
      padding: 16px 16px 32px;
      .modal-title {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      .modal-footer {
        width: 100%;
      }
      .modal-body {
        // &:extend(.body-extra);
        font-size: 14px;
        line-height: 20px;
        color: white;
        // @neutral-0;
      }
    }
  }
}
